<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dulac Ninja</title>
  </head>
  <body>
    <canvas id="three-container"></canvas>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;
  }
</style>
